/* ESTILS GENERALS */
* {
    margin: 0; 
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* ESTILS AL BODY */
body {
    color: #f3f3f3;
    font-size: 16px; 
}
/* APARTAT HEADER */
.capçalera{
    width: 100%;
    height: 60px;
    background: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 999999;
}

.capçalera .nav {
    float: right;
}

.capçalera .nav ul {
    margin: 1.2rem 1.9rem;
}
.capçalera .nav ul li {
    display: inline;
    padding: 1.25rem;
}
.capçalera .nav ul li a{
    color: rgb(252, 252, 252);
    opacity: .7;
    font-style: none;
    text-decoration: none;
}
.capçalera .nav ul li a:hover{
    opacity: 1;
    border-bottom: 1px solid #fff;
    transition: 1s ease all;
}
/* APARTAT MAIN */
.main .imgP {
    width: 100%;
    height: 550px;
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.main .imgP .oscuro {
    height: 100%;
    background: rgba(0,0,0, .4);
}
.main .imgP .oscuro .titulo {
	position: relative;
    top: 12.5rem;
    left: 8.75rem;
}
.main .imgP .oscuro .titulo h1 {
    color: rgba(255,255,255, .8);
	font-size: 3.125rem;
    font-weight:100;
}
.main .imgP .oscuro .titulo h1 span {font-weight: bold;}
.main .imgP .oscuro .titulo p {
    width: 40%;
	text-align: center;
    line-height: 2em;
    
}
/* Contenemos todo el main excepto la Imagen principal y lo centramos */
.main .cont {
    width: 75%;
    max-width: 1000px;
    margin: auto;
}
.main .cont h2,
.main .cont p{ color: #000;}
.main .cont .nos h2 {margin-top: 50px;}
/* Parte 2 Float */
.main .cont .nos .seccion1 img {
    margin: 1.25rem 0; 
    width: 190px; 
    height: 160px; 
    float: left;
    border-radius: 0.3125rem;
}
.main .cont .nos .seccion1 p {
    width: 95%;
    position: relative; 
    top: 1.5625rem; 
    left: 0.625rem;
    text-align: justify;
}
.main .cont .nos .seccion2 {clear: both;}
.main .cont .nos .seccion2 img {
    width: 200px; 
    height: 160px; 
    float: right;
    margin: -1.25rem 0.625rem;
    border-radius: 0.3125rem;
}
.main .cont .nos .seccion2 p {
    width: 100%; text-align: justify; 
}
.main .cont .carta-grid {
    color: #000;
    margin: 5rem 0;
}
.main .cont .carta-grid .menu h2 {
    width: 100%;
    height: 50px;
    text-align: center;
    background: rgb(6, 6, 104);
    color: #fff;
    margin: 1.25rem 0;
    padding: 0.625rem 0;
}
.main .cont .carta-grid .menu-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.25rem 0;
    grid-gap: 0.625rem;
}
.main .cont .carta-grid .menu-item:nth-child(3) p,
.main .cont .carta-grid .menu-item:nth-child(4) p {
    color: #fff
}
.main .cont .carta-grid .menu-item {
    position: relative;
}
.main .cont .carta-grid .menu-item .menu1 {
    font-weight: bold;
}
.main .cont .carta-grid .menu-item:nth-child(1) {
    grid-row-start: span 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    font-size: 1.3em;
}
.main .cont .carta-grid .menu-item:nth-child(3) p,
.main .cont .carta-grid .menu-item:nth-child(4) p{
    position: absolute;
    bottom: 0; 
    margin-left: auto; 
    margin-right: auto; 
    left: 0; 
    right: 0; 
    text-align: center; 
}
.main .cont .carta-grid .menu-item:nth-child(2) {  
    grid-column-start: span 2;
    line-height: 1.5625rem;
}

.main .cont .carta-grid .imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .65;
}
.main .cont .carta-grid .imagen:hover{
    opacity: 1;
    cursor: pointer;
    transition: 1s ease all;
}
.main .cont .carta-grid .menu-item .menu {
    font-weight: none;
}
.main .cont .title-galeria {
    margin: -1.5625rem 0;
}
.main .cont .galeria-flex {
    margin-top: 3.4375rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.main .cont .galeria-flex img {
    width: 20%;
    height: 120px;
    object-fit: cover;
    margin-bottom: 0.625rem;
    margin-left: 0.625rem;
    border: 1px solid #333;
    padding: 2px;
    flex: auto;
}
.main .cont .galeria-flex img:hover {
    cursor: pointer;
    transition: 0.6s ease-out;
    filter: grayscale(0.9);
    box-shadow: 1px 1px 3px #000;
}
.main .cont .galeria-flex img:nth-child(1),
.main .cont .galeria-flex img:nth-child(4),
.main .cont .galeria-flex img:nth-child(5),
.main .cont .galeria-flex img:nth-child(8) {
    filter: grayscale(0.9);
}

.peuPagina {
    margin-top: 2.5rem;
    background: #000;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.peuPagina .contact,
.peuPagina .pagina {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 0.9375rem;
    gap: 0.625rem;
    font-size: 0.875rem;
}

@media screen and (max-width: 768px) {
    .main .imgP {
        height: 220px;
    }
    .capçalera {
        background: rgba(255,255,255);
    }
    .capçalera .nav {
        float: left;
    }
    .capçalera .nav ul li a {
        color: rgba(0,0,0); font-weight: bold;
    }
    .capçalera .nav ul li a:hover { 
        border-bottom: 1px solid #000;
    }
    .main .imgP {
        background-position: right center;
    }
    .main .imgP .oscuro .titulo {
        left: 0.9375rem;}
    .main .imgP .oscuro .titulo h1 {font-size: 3rem;
    }
    .main .imgP .oscuro .titulo p {
        width: 60%;
    }
    .main .cont .nos .seccion2 p {
        position: relative; left: 0.625rem;
    }
    .main .imgP .oscuro .titulo {
        top: 2.5rem; font-size: 14px;
    }
    .main .imgP .oscuro .titulo h1 {
        font-size: 40px;
    }
    .main .imgP .oscuro .titulo p {
        width: 100%; text-align: left;
    }

    .main .cont .nos .seccion1 img {
        float: none; width: 100%; height: 270px;
    }
    .main .cont .nos .seccion1 p {
        top: 0;
        left: 0;
        width: 100%;
    }
    .main .cont .nos .seccion2 img {
        float: none;
        margin: 0.9375rem 0;
        width: 100%;
        height: 270px;
    }
    .main .cont .nos .seccion2 p { 
        left: 0;
    }
}